---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Base.astro';
---

<Layout>
	<div class="container">
		<h1>Ciel Park</h1>
		<h5>is a designer & developer creating digital products that drive engagement & growth</h5>
		<div class="overline flex grow space-between">
			<h5>Currently @ Northrop Grumman</h5> <h5>Previously @ Viget</h5>
		</div>
	</div>
</Layout>
