---
---

<section class="footer relative border-t border-black bg-dark-beige">
  <div class="container-custom">
    <div class="absolute inset-0 z-[-1] overflow-hidden">
    </div>
    <div class="relative px-6 py-2">
      <div class="flex flex-col py-20 gap-10">
        <div
          class="flex w-full flex-col-reverse sm:flex-row justify-between gap-10">
          <div class="flex flex-col gap-2">
            <h3 class="mb-2">© 2025 Ciel Park</h3>
            <h5>Made with &lt3, coffee, and lots of late nights</h5>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="mb-2">Contact</h3>
            <a href="mailto:cielcpark@gmail.com">
              <h5>cielcpark@gmail.com</h5>
            </a>
            <div class="flex gap-4">
              <h5>Washington DC</h5>
              <h5 id="clock"></h5>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="mb-2">Elsewhere</h3>
            <a href="https://www.linkedin.com/in/clprk/">
              <h5>Linkedin</h5>
            </a>
            <a href="https://www.figma.com/@clprk">
              <h5>Figma</h5>
            </a>
            <a href="https://github.com/clprk">
              <h5>Github</h5>
            </a>
            <a href="https://codepen.io/clprk">
              <h5>Codepen</h5>
            </a>
          </div>
          <a href="../" class="text-3xl">✦</a>
          
          
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var clockElement = document.getElementById('clock')

  function clock() {
    if (clockElement) {
      clockElement.textContent = new Date().toLocaleTimeString()
    }
  }
  setInterval(clock, 1000)
</script>
