<!-- Hero Section -->
<section class="bg-dark-beige border-b border-dark">
    <div class="container-custom min-h-screen flex flex-col justify-center">
        <div class="w-1/2 flex flex-col gap-4">
            <!-- Left Side - Intro -->
            <h1>Ciel Park</h1>
            <h5>is a designer & developer creating digital products that drive engagement & growth</h5>
            <!--Overline -->
            <div class="flex justify-between py-4 border-t border-black">
                <h5>Currently @ Northrop Grumman</h5> <h5>Previously @ Viget</h5>
            </div>
        </div>
        
        
        <!-- Right Side - Image -->
        <div class="absolute top-0 right-0 w-2/5 h-svh overflow-hidden"> 
            <img src="/src/assets/hero-tree.jpg" alt="Inkbrush painting of a tree" class="w-full h-full object-cover" />
        </div>
    </div>
</section>