---

---

<section class="h-0 w-0">
  <svg>
    <filter id="turbulence-effect">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.002"
        numOctaves="1"
        seed="1"
        result="noise">
        <animate
          attributeName="baseFrequency"
          values="0.002;0.01;0.002"
          dur="20s"
          repeatCount="indefinite"></animate>
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="80">
        <animate
          attributeName="scale"
          values="80; 120; 80"
          dur="10s"
          repeatCount="indefinite"></animate>
      </feDisplacementMap>
    </filter>

    <filter id="pixelate-effect" x="0" y="0">
      <feFlood x="4" y="4" height="2" width="2"></feFlood>
      <feComposite width="12" height="16"></feComposite>
      <feTile x="0" y="0" width="1080" height="1080" result="c"></feTile>
      <feComposite in="SourceGraphic" in2="c" operator="in"></feComposite>
      <feMorphology operator="dilate" radius="3"></feMorphology>
      <feMorphology operator="dilate" radius="1"></feMorphology>
    </filter>

    <filter id="pixelate-effect-sm" x="0" y="0">
      <feFlood x="4" y="4" height="1" width="1"></feFlood>
      <feComposite width="4" height="4"></feComposite>
      <feTile x="0" y="0" width="108" height="108" result="c"></feTile>
      <feComposite in="SourceGraphic" in2="c" operator="in"></feComposite>
      <feMorphology operator="dilate" radius="1"></feMorphology>
    </filter>

    <filter style="color-interpolation-filters: sRGB" id="lines-effect">
      <feConvolveMatrix
        in="SourceGraphic"
        kernelMatrix="0 250 0 250 -1338 250 0 250 0"
        order="3 3"
        result="convolve"
        id="feConvolveMatrix296"></feConvolveMatrix>
      <feBlend
        in="convolve"
        in2="SourceGraphic"
        mode="multiply"
        result="blend"
        id="feBlend296"></feBlend>
      <feTurbulence
        type="turbulence"
        baseFrequency="0.25 0.0"
        numOctaves="1"
        seed="6"
        result="turbulence"
        id="feTurbulence296">
        <animate
          attributeName="baseFrequency"
          values="0.23 0.0; 0.1 0.0; 0.25 0.0; 0.2 0.0';"
          dur="1s"
          repeatCount="indefinite"></animate>
      </feTurbulence>
      <feColorMatrix
        in="blend"
        type="luminanceToAlpha"
        result="colormatrix1"
        id="feColorMatrix296"></feColorMatrix>
      <feComposite
        in="turbulence"
        in2="colormatrix1"
        k1="5.75851"
        k2="0.835913"
        k4="0.0853659"
        operator="arithmetic"
        result="composite1"
        id="feComposite296"
        k3="0"></feComposite>
      <feColorMatrix
        in="composite1"
        values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 10 -9 "
        result="colormatrix2"
        id="feColorMatrix297"></feColorMatrix>
      <feGaussianBlur stdDeviation="0.0" result="blur" id="feGaussianBlur297"
      ></feGaussianBlur>
      <feFlood
        flood-color="rgb(0,0,0)"
        flood-opacity="1"
        result="flood1"
        id="feFlood297"></feFlood>
      <feComposite
        in="flood1"
        in2="blur"
        operator="out"
        result="composite2"
        id="feComposite297"></feComposite>
      <feFlood
        flood-color="rgb(255,255,255)"
        flood-opacity="1"
        result="flood2"
        id="feFlood298"></feFlood>
      <feComposite
        in="flood2"
        in2="blur"
        operator="in"
        result="composite3"
        id="feComposite298"></feComposite>
      <feComposite
        in="composite3"
        in2="composite2"
        k2="1"
        k3="1"
        operator="arithmetic"
        result="composite4"
        id="feComposite299"
        k1="0"
        k4="0"></feComposite>
      <feComposite
        in2="SourceGraphic"
        operator="in"
        result="composite5"
        id="feComposite300"></feComposite>
    </filter>
  </svg>
</section>
