---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Ciel Park - Portfolio</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body class="bg-beige text-dark cursor-none">
		<!-- Custom Cursor -->
		<div id="custom-cursor" class="fixed top-0 left-0 w-3 h-3 bg-dark rounded-full z-[9999]"></div>
		<!-- Navigation -->
		<Navigation/>
		<!-- Body Content -->
		<slot />
		<!-- Footer -->
		<Footer/>
		<script>
			const cursor = document.getElementById("custom-cursor");
			let isHovering = false;
		
			// Handle mouse movement (position only)
			document.addEventListener("mousemove", (e) => {
				if (cursor) {
					cursor.style.left = `${e.clientX}px`;
					cursor.style.top = `${e.clientY}px`;
				}
			});
			
		
			const links = document.querySelectorAll("a");
			links.forEach(target => {
				target.style.cursor = 'none';
				target.addEventListener('mouseenter', () => {
					if (cursor) {
						cursor.style.transform = 'scale(1.5)';
					}
				});
				target.addEventListener('mouseleave', () => {
					if (cursor) {
						cursor.style.transform = 'scale(1)';
					}
				});
			});
		</script>
	</body>
</html>



